.order_picker {
  display: flex;
}

.selcted_list {
  list-style: none;
  counter-reset: my-counter;
}

.selcted_list_item {
  display: flex;
  align-items: center;
  gap: 12px;

  font-size: 20px;
  line-height: 36px;
  letter-spacing: 1px;

  margin-bottom: 8px;
}
.selcted_list_item:before {
  content: counter(my-counter);
  counter-increment: my-counter;

  display: block;
  width: 36px;
  height: 36px;

  border-radius: 50%;
  background-color: var(--color-red);

  color: var(--color-white);
  text-align: center;
}
